@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --sky-blue: #13a4dd;
  --orange-hover: #f19304;
  --black-hover: #272424;
}

* {
  margin: 0;
}
body {
  display: grid;
  place-content: center;
  font-family: "Quicksand", sans-serif;
}

/* NAVBAR */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 60px;
  gap: 10px 150px;
}

.nav-school-logo {
  display: flex;
  gap: 11px;
  justify-content: center;
  align-items: center;
}

.logo-text {
  font-size: 32px;
  font-weight: bold;
  line-height: 30px;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 0 32px;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
}

nav ul li a {
  text-decoration: none;
}

nav ul li:first-child a {
  font-weight: bold;
  color: orange;
}

nav ul li:nth-child(2) a {
  color: var(--sky-blue);
}

nav ul li:nth-child(3) a {
  color: #05d4df;
}

nav ul li:last-child a {
  color: #5d58ef;
}

nav button {
  display: grid;
  place-content: center;
  padding: 10px;
  column-gap: 10px;
  background-color: orange;
  color: #ffffff;
  border-radius: 12px;
  border: 1px solid orange;
  font-size: 20px;
  font-weight: 600;
  width: 197px;
  height: 50px;
  line-height: 30px;

  &:hover {
    background-color: var(--orange-hover);
  }
}

.menu-icon {
  display: none;
}

@media screen and (max-width: 768px) {
  .logo-text,
  nav ul,
  nav button {
    display: none;
  }

  .menu-icon {
    display: block;
    height: 30px;
    width: 30px;
  }
}

@media screen and (min-width: 426px) and (max-width: 768px) {
  nav {
    display: flex;
    gap: 10px 500px;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .menu-icon {
    display: none;
  }
  nav {
    display: flex;
    gap: 10px 60px;
  }
}

@media screen and (max-width: 425px) {
  nav {
    gap: 10px 250px;
  }
}

@media screen and (max-width: 320px) {
  nav {
    gap: 10px 180px;
  }
}

/* NAVBAR */

main {
  display: grid;
  place-content: center;
}

/* BANNER */

.banner {
  display: grid;
  padding: 20px 60px;
  row-gap: 20px;
  overflow-x: hidden;
}

.banner img {
  place-self: center;
}

.banner-text-container {
  display: grid;
  row-gap: 24px;
  padding: 0 60px;
}
.banner-headline,
.banner-text {
  text-align: center;
}

.banner-headline {
  font-size: 32px;
  font-weight: 700;
  line-height: 36px;
}

.banner-headline p:first-child {
  color: orange;
}

.banner-headline p:last-child span {
  color: var(--sky-blue);
}

.banner-text {
  font-size: 14px;
  font-weight: 500;
}

.banner-text-container button {
  display: grid;
  padding: 6px 24px;
  column-gap: 10px;
  width: fit-content;
  place-self: center;
  border-radius: 8px;
  border: 1px solid black;
  background-color: black;
  color: white;
  font-size: 16px;
  font-weight: bold;
  line-height: 30px;

  &:hover {
    background-color: var(--black-hover);
  }
}

@media screen and (max-width: 425px) {
  .banner {
    padding: 20px 0;
    overflow-x: hidden;
  }
  .banner img {
    width: calc(100vw - 40px);
    height: auto;
  }
}

@media screen and (max-width: 375px) {
  .banner img {
    width: calc(100vw - 45px);
    height: auto;
  }
}

@media screen and (max-width: 375px) {
  .banner-headline {
    font-size: 26px;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .banner {
    display: flex;
    flex-direction: row-reverse;
    column-gap: 50px;
    padding: 0 60px;
  }

  .banner img {
    width: calc(100% - 500px);
  }

  .banner-text-container {
    display: grid;
    place-content: center;
    row-gap: 24px;
    padding: 0;
  }

  .banner-headline,
  .banner-text {
    text-align: left;
    width: fit-content;
  }

  .banner-headline {
    font-size: 46px;
    line-height: 61px;
    font-weight: bold;
  }

  .banner-text {
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
  }
  .banner-text-container button {
    place-self: start;
    width: 180px;
    column-gap: 10px;
    padding: 10px;
  }
}

@media screen and (min-width: 1025px) {
  .banner {
    display: flex;
    flex-direction: row-reverse;
    column-gap: 190px;
    padding: 0 60px;
  }

  .banner-text-container {
    display: grid;
    place-content: center;
    row-gap: 24px;
    padding: 0;
  }

  .banner-headline,
  .banner-text {
    text-align: left;
    width: fit-content;
  }

  .banner-headline {
    font-size: 56px;
    line-height: 61px;
    font-weight: bold;
  }

  .banner-text {
    font-size: 18px;
    line-height: 20px;
    font-weight: 400;
  }
  .banner-text-container button {
    place-self: start;
    width: 197px;
    column-gap: 10px;
    padding: 10px;
  }
}

@media screen and (min-width: 1441px) {
  .banner {
    margin: 0 auto;
    column-gap: 500px;
  }
}
/* BANNER */

/* MARQUEE */
marquee {
  margin-top: 40px;
  padding: 40px 0;
  font-size: 40px;
  font-weight: 700;
  border-top: 1px solid var(--black-hover);
  border-bottom: 1px solid var(--black-hover);
}

@media screen and (max-width: 425px) {
  marquee {
    padding: 20px;
    font-size: 20px;
  }
}
/* MARQUEE */

.bg-img {
  background-image: url("./assets/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.curriculum,
.stories {
  display: grid;
  place-content: center;
  row-gap: 80px;
  padding: 60px 60px;
}

/* CURRICULUM */

.curriculum h1 {
  font-size: 46px;
  line-height: 57.5px;
  text-align: center;
  font-weight: bold;
}

.curriculum-card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 28px;
}

.curriculum-card {
  border-radius: 18.86px;
  display: grid;
  place-content: center;
  flex: 1;
  padding: 60px 0;
  row-gap: 30px;
}

.curriculum-card:first-child {
  background: linear-gradient(180deg, #def5ff 0%, #ffffff 20%);
  border: 0.94px solid #def5ff;
}

.curriculum-card:nth-child(2) {
  background: linear-gradient(180deg, #fff4dc 0%, #ffffff 20%);
  border: 0.94px solid #fff4dc;
}

.curriculum-card:last-child {
  background: linear-gradient(180deg, #f2e8ff 0%, #ffffff 20%);
  border: 0.94px solid #f2e8ff;
}

.curriculum-card img {
  place-self: center;
}

.curriculum-card img:first-child {
  height: 126px;
}

.curriculum-card h3 {
  font-size: 24.52px;
  font-weight: bold;
  line-height: 30.7px;
  text-align: center;
}

.curriculum-card p,
.curriculum-card a {
  font-size: 15.09px;
  line-height: 28.3px;
}

.curriculum-card p {
  color: #808080;
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  padding: 0 20px;
}

.curriculum-card a {
  font-weight: bold;
  text-align: center;
  text-decoration: none;
}

.curriculum-card:first-child a {
  color: #64c8ff;
}

.curriculum-card:nth-child(2) a {
  color: #f0aa00;
}

.curriculum-card:last-child a {
  color: #8700ff;
}

.curriculum-card-button-container {
  place-self: center;
  display: flex;
  column-gap: 10px;
}

.curriculum-card-button-container button {
  width: 60px;
  height: 60px;
  border-radius: 30px;
  background-color: orange;
  border: 1px solid orange;
  display: grid;
  place-content: center;

  &:hover {
    background-color: var(--orange-hover);
  }
}

.curriculum-card-button-container svg {
  fill: white;
  height: 24px;
  font-weight: bold;
}

@media screen and (max-width: 768px) {
  .curriculum {
    row-gap: 20px;
    padding: 40px 40px;
  }

  .curriculum h1 {
    font-size: 26px;
  }

  .curriculum-card-container {
    display: grid;
    place-content: center;
    row-gap: 20px;
  }
}

@media screen and (max-width: 425px) {
  .curriculum-card-button-container {
    display: none;
  }

  .curriculum {
    padding: 40px 60px;
  }

  .curriculum-card {
    display: grid;
    row-gap: 22px;
  }

  .curriculum-card h3 {
    font-size: 16.06px;
    line-height: 20.8px;
  }

  .curriculum-card p,
  .curriculum-card a {
    font-size: 10.22px;
    line-height: 19.2px;
  }
}
/* CURRICULUM */

/* STORIES */

.stories {
  background: linear-gradient(to top, #fea3014d 0%, #ffffff 100%),
    url("./assets/bg.png");
  background-blend-mode: overlay;
}

.stories h1 {
  font-size: 46px;
  line-height: 57.5px;
  font-weight: bold;
  text-align: center;
}

.story-container {
  display: grid;
  place-content: center;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 19px;
  align-items: stretch;
  width: 100%;
}

.big-story-card {
  display: flex;
  flex-direction: column;
  border-radius: 16px;
  background-color: white;
  width: 100%;
  height: 100%;
}

.big-story-card img {
  width: 100%;
  height: auto;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.big-story-card h1 {
  font-size: 28px;
  line-height: 38.3px;
  text-align: left;
  padding: 0 30px;
}

.big-story-card p,
.date {
  font-family: "Raleway", sans-serif;
  line-height: 28.8px;
  font-weight: 500;
}

.big-story-card p {
  text-align: left;
  padding: 30px;
  color: #666666;
  margin: 0;
  font-size: 20px;
  text-wrap: wrap;
}

.date {
  position: relative;
  border-radius: 47.93px;
  width: fit-content;
  padding: 16px 10px;
  color: white;
  top: -30px;
  left: 40px;
  z-index: 100;
  font-size: 15.34px;
}

.big-story-card .date {
  background-color: #3cd8e8;
  left: 30px;
}

.small-story-cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 19px;
}

.small-story-card {
  background-color: white;
  width: 100%;
  border-radius: 16px;
}

.small-story-card img {
  width: 100%;
  height: auto;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.small-story-card h4 {
  font-size: 15.34px;
  line-height: 28.8px;
  font-weight: bold;
  text-align: left;
  padding: 0px 40px;
  margin-top: -10px;
}

.small-story-card .date {
  background-color: #95b226;
  padding: 10px 20px;
}

.small-story-card:nth-of-type(2) .date {
  background-color: #5d58f0;
}

.small-story-card:last-child h4 {
  padding: 0 60px 0 40px;
}

.stories button {
  width: 197px;
  height: auto;
  place-self: center;
  padding: 10px;
  column-gap: 10px;
  border-radius: 12px;
  border: 1px solid black;
  background-color: black;
  color: white;
  font-size: 20px;
  line-height: 30px;
  font-weight: bold;

  &:hover {
    background-color: var(--black-hover);
  }
}

@media screen and (max-width: 1023px) {
  .big-story-card {
    display: none;
  }
  .story-container {
    grid-template-columns: auto;
  }

  .small-story-card {
    padding-bottom: 20px;
  }
}

@media screen and (max-width: 425px) {
  .big-story-card {
    display: none;
  }

  .stories {
    row-gap: 20px;
  }

  .stories h1 {
    font-size: 26px;
  }

  .story-container {
    grid-template-columns: auto;
  }

  .small-story-cards {
    gap: 11px;
  }

  .small-story-card {
    border-radius: 9.53px;
  }

  .small-story-card img {
    border-top-left-radius: 9.53px;
    border-top-right-radius: 9.53px;
  }

  .small-story-card h4,
  .date {
    font-size: 9.13px;
    line-height: 17.1px;
  }

  .small-story-card h4 {
    padding: 0 20px;
  }

  .small-story-card:last-child h4 {
    padding: 0 20px;
  }

  .date {
    border-radius: 28.54px;
    scale: 0.9;
    top: -24px;
    left: 10px;
  }

  .stories button {
    width: 134px;
    font-size: 16px;
  }
}

@media screen and (max-width: 320px) {
  .date {
    scale: 0.7;
    left: 2px;
  }

  .small-story-card h4 {
    font-size: 8px;
    padding: 0 8px;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1240px) {
  .big-story-card h1 {
    font-size: 24px;
  }

  .big-story-card p,
  .date,
  .small-story-card h4 {
    font-size: 14px;
  }

  .small-story-card h4 {
    padding: 0 20px;
    margin-top: -10px;
  }

  .small-story-card:last-child h4 {
    padding: 0 25px;
  }

  .small-story-card .date {
    top: -30px;
    left: 15px;
  }

  .big-story-card .date {
    top: -30px;
    left: 25px;
  }
}

/* STORIES */

/* FOOTER */
footer {
  width: 100%;
  height: auto;
  background-color: #01acfd;
  display: grid;
  place-content: center;
  grid-template-columns: 50% 25% 25%;
  margin: 0;
  overflow: hidden;
  padding: 100px 0;
}

.footer-logo {
  display: flex;
  column-gap: 11px;
}

.footer-logo img {
  width: 82.9px;
  height: auto;
  margin-left: -10px;
}

.footer-logo h1 {
  color: white;
  font-size: 42.14px;
  line-height: 39.5px;
  font-weight: bold;
}

.footer-fst-col {
  display: grid;
  place-content: center;
  gap: 20px;
}

.footer-fst-col p {
  width: 400px;
  font-size: 20px;
  color: white;
  line-height: 28px;
  font-weight: 400;
  text-wrap: wrap;
}

.footer-scnd-col {
  display: grid;
  place-content: start;
  gap: 40px;
}

.footer-scnd-col h6 {
  font-size: 24px;
  color: white;
  font-weight: bold;
  margin-bottom: -10px;
}

.footer-scnd-col ul {
  margin: 0;
  padding: 0;
  display: grid;
  row-gap: 20px;
}
.footer-scnd-col ul li {
  list-style: none;
}

.footer-scnd-col ul li a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-weight: 500;
}

.footer-third-col {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: flex-start;
  gap: 40px;
}

.footer-third-col h1 {
  font-size: 26px;
  line-height: 26px;
  font-weight: bold;
  color: white;
}

.footer-third-col ul {
  display: flex;
  margin: 0;
  padding: 0;
  gap: 10px;
}

.footer-third-col ul li {
  list-style: none;
}

.footer-third-col ul li a {
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  footer {
    display: grid;
    grid-template-columns: auto;
    row-gap: 40px;
  }
}

@media screen and (max-width: 425px) {
  .footer-logo img {
    width: 69.23px;
  }

  .footer-logo h1 {
    font-size: 35.73px;
    line-height: 33.5px;
  }

  .footer-fst-col p {
    width: 357px;
    font-size: 16px;
    line-height: 28px;
  }

  .footer-scnd-col h6 {
    font-size: 20.35px;
  }

  .footer-scnd-col ul li a {
    font-size: 16.96px;
    font-weight: 500;
  }

  .footer-third-col h1 {
    font-size: 22.04px;
    line-height: 22px;
  }

  .footer-third-col ul {
    gap: 8px;
  }
}

@media screen and (max-width: 320px) {
  .footer-fst-col p {
    width: 300px;
  }
}

/* FOOTER */
